div.row {
  margin: 10px 15px;
}

div.panel {
  width: 99%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}

.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}
