<div class="row">
  <div class="col-sm-6">
    <h3>
      产品销售列表<small>PRODUCT SALES LIST</small>
    </h3>
  </div>
  <div class="col-sm-6">
    <h3 class="input-group">
      <input type="text" class="form-control" placeholder="产品名称...">
      <span class="input-group-btn">
				<button class="btn btn-default" type="button">搜索</button>
			</span>
    </h3>
    <!-- /input-group -->
  </div>
</div>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <label class="btn btn-primary"> <input type="checkbox"
			class="hidden" />已支付
		</label>
  </div>
  <!-- <div class="btn-group" role="group">
		<label ng-class="{active:vm.obj.is_xianchang}" class="btn btn-primary">
			<input type="checkbox" class="hidden" ng-model="vm.obj.is_xianchang"
			ng-click="vm.go(1)" />现场
		</label>
	</div>
	<div class="btn-group" role="group">
		<label ng-class="{active:vm.obj.isfq}" class="btn btn-primary">
			<input type="checkbox" class="hidden" ng-model="vm.obj.isfq"
			ng-click="vm.go(1)" />已放弃
		</label>
	</div> -->
  <div class="btn-group" role="group">
    <label class="btn btn-primary"> <input type="checkbox"
			class="hidden" />已出货
		</label>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <tr>
      <td>名称</td>
      <td>数量</td>
      <td>类型</td>
      <td>金额</td>
      <td>姓名</td>
      <td>电话</td>
      <td>地址</td>
      <td>购买时间</td>
      <td>出货</td>
      <td>操作</td>
    </tr>
    <tr *ngFor="let item of buylist">
      <td>{{item.cp_name}}</td>
      <td>{{item.buy_count}}</td>
      <td>{{item.cp_type}}</td>
      <td>{{item.buy_jine}}</td>
      <td>{{item.buyer_name}}</td>
      <td>{{item.buyer_tel}}</td>
      <td>{{item.buyer_address}}</td>
      <td>{{item.cdate}}</td>
      <td>{{item.isout==true?'已出货':'未出货'}}</td>
      <td><a>{{item.isout==true?'取消出货':'发货'}}</a> | <a *ngIf="item.isoff && !item.isout">退积分</a></td>
    </tr>
  </table>
</div>
